<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Python basic</title>

  <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <h1>Django</h1>
    <p>
        Вы научитесь верстать веб-страницы, писать и оптимизировать веб-приложения на Django, продолжите развиваться
        в IT-индустрии и станете более востребованным разработчиком.
    </p>
    <div>
        {% load static %}
        <img src="{% static 'advertisement/img/img2.png' %}" alt="django.png"/>
    </div>
    <ul>
        <li><a href='https://skillbox.ru/course/django-framework/'>Ссылка на курс</a></li>
    </ul>
    <h2>Цена решения - 70 000</h2>

<!--    <div class="blocks block-background-2">-->
<!--        <h1>Django</h1>-->
<!--        <p>-->
<!--            Вы научитесь верстать веб-страницы, писать и оптимизировать веб-приложения на Django, продолжите развиваться-->
<!--            в IT-индустрии и станете более востребованным разработчиком.-->
<!--        </p>-->
<!--        <ul>-->
<!--            <li><a href='https://skillbox.ru/course/django-framework/'>Ссылка на курс</a></li>-->
<!--        </ul>-->
<!--    </div>-->
<!--    <h2>Цена решения - 70 000</h2>-->
</body>
</html>