<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Python basic</title>

  <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <h1>Frontend-developer</h1>
    <p>
        Вы изучите основы HTML, CSS и JavaScript, научитесь создавать сайты и приложения для любых устройств,
            оптимизировать код и работать с анимацией. Соберёте портфолио и сможете начать карьеру разработчика.
    </p>
    <div>
        {% load static %}
        <img src="{% static 'advertisement/img/img5.png' %}" alt="html.png"/>
    </div>
    <ul>
        <li><a href='https://skillbox.ru/course/frontend-developer/'>Ссылка на курс</a></li>
    </ul>
    <h2>Цена решения - 70 000</h2>



<!--    <div class="blocks block-background-5">-->
<!--        <h1>Frontend-developer</h1>-->
<!--        <p>-->
<!--        Вы изучите основы HTML, CSS и JavaScript, научитесь создавать сайты и приложения для любых устройств,-->
<!--            оптимизировать код и работать с анимацией. Соберёте портфолио и сможете начать карьеру разработчика.-->
<!--        </p>-->
<!--        <ul>-->
<!--            <li><a href='https://skillbox.ru/course/frontend-developer/'>Ссылка на курс</a></li>-->
<!--        </ul>-->
<!--    </div>-->
<!--    <h2>Цена решения - 70 000</h2>-->
</body>
</html>
