<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Python basic</title>

  <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <h1>SQL</h1>
    <p>
        Курс для тех, кому нужно работать с базами данных. Вы освоите язык запросов SQL — и с его помощью сможете
            самостоятельно получать нужные данные, сопоставлять и анализировать их.
    </p>
    <div>
        {% load static %}
        <img src="{% static 'advertisement/img/img4.png' %}" alt="sql.png"/>
    </div>
    <ul>
        <li><a href='https://skillbox.ru/course/sql-analysis/'>Ссылка на курс</a></li>
    </ul>
    <h2>Цена решения - 70 000</h2>



<!--    <div class="blocks block-background-4">-->
<!--        <h1>SQL</h1>-->
<!--        <p>-->
<!--        Курс для тех, кому нужно работать с базами данных. Вы освоите язык запросов SQL — и с его помощью сможете-->
<!--            самостоятельно получать нужные данные, сопоставлять и анализировать их.-->
<!--        </p>-->
<!--        <ul>-->
<!--            <li><a href='https://skillbox.ru/course/sql-analysis/'>Ссылка на курс</a></li>-->
<!--        </ul>-->
<!--    </div>-->
<!--    <h2>Цена решения - 70 000</h2>-->
</body>
</html>