<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Python basic</title>

  <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <h1>Python basic</h1>
    <div>
        {% load static %}
        <img src="{% static 'advertisement/img/img1.png' %}" alt="python_basic.png"/>
    </div>
    <p>
    На Python создают веб-приложения и нейросети, проводят научные вычисления и автоматизируют процессы. Вы научитесь
        программировать на востребованном языке с нуля, напишете Telegram-бота для турагентства и сможете начать карьеру
        в разработке.
    </p>
    <ul>
        <li><a href='https://skillbox.ru/course/python-basic/'>Ссылка на курс</a></li>
    </ul>
    <h2>Цена решения - 70 000</h2>

<!--    <div class="blocks block-background-1">-->
<!--        <h1>Python basic</h1>-->
<!--        <p>-->
<!--        На Python создают веб-приложения и нейросети, проводят научные вычисления и автоматизируют процессы. Вы научитесь-->
<!--            программировать на востребованном языке с нуля, напишете Telegram-бота для турагентства и сможете начать карьеру-->
<!--            в разработке.-->
<!--        </p>-->
<!--        <ul>-->
<!--            <li><a href='https://skillbox.ru/course/python-basic/'>Ссылка на курс</a></li>-->
<!--        </ul>-->
<!--    </div>-->
<!--    <h2>Цена решения - 70 000</h2>-->
</body>
</html>