<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Python basic</title>

  <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <h1>Data science</h1>
    <p>
        Вы попробуете себя в роли дата-инженера, аналитика и специалиста по машинному обучению. Получите фундаментальные
            знания и навыки, достаточные для начала карьеры в Data Science.
    </p>
    <div>
        {% load static %}
        <img src="{% static 'advertisement/img/img3.png' %}" alt="ds.png"/>
    </div>
    <ul>
        <li><a href='https://skillbox.ru/course/ds-intro/'>Ссылка на курс</a></li>
    </ul>
    <h2>Цена решения - 70 000</h2>




<!--    <div class="blocks block-background-3">-->
<!--        <h1>Data science</h1>-->
<!--        <p>-->
<!--        Вы попробуете себя в роли дата-инженера, аналитика и специалиста по машинному обучению. Получите фундаментальные-->
<!--            знания и навыки, достаточные для начала карьеры в Data Science.-->
<!--        </p>-->
<!--        <ul>-->
<!--            <li><a href='https://skillbox.ru/course/ds-intro/'>Ссылка на курс</a></li>-->
<!--        </ul>-->
<!--    </div>-->
<!--    <h2>Цена решения - 70 000</h2>-->
</body>
</html>